body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 40px;
}

.card {
  margin: 0 auto;
}

.input-username {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

input {
  width: 18rem;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

.error {
  text-align: center;
  color: red;
  font-size: 20px;
}

.loading-msg {
  text-align: center;
  color: black;
  font-size: 20px;
}
